* {
  margin: 0 auto;
}

.header {
  padding: 10px;
  background: #00C3CB;
  color: #fff;
  text-align: center;
}
.main-div {
  width: 311px;
  height: 311px;
  margin-top: 10px;
  background-color: #c3c7c7;
}

.main-div > .row-div {
  height: 30px;
  display: flex;
  border-top: 1px solid #404242;
}

.main-div > .row-div:last-child {
  border-bottom: 1px solid #404242;
}

.main-div > .row-div > .cell-div {
  width: 30px;
  border-left: 1px solid #404242;
  text-align: center;
  padding-top: 2px;
  font-size: 22px;
}

.cell-hide {
  display: none;
}

.main-div > .row-div > .cell-div:last-child {
  border-right: 1px solid #404242;
}

span {
  font-weight: bold;
  color: #138f13;
}

.mine {
  color: #b43527;
}