.main-div {
  width: 311px;
  height: 311px;
  background-color: #c3c7c7;
  margin: 0 auto;
}

.main-div > .row-div {
  height: 30px;
  display: flex;
  border-top: 1px solid #404242;
}

.main-div > .row-div:last-child {
  border-bottom: 1px solid #404242;
}

.main-div > .row-div > .cell-div {
  width: 30px;
  border-left: 1px solid #404242;
  text-align: center;
  padding-top: 3px;
  font-size: 20px;
}

.cell-hide {
  display: none;
}

.main-div > .row-div > .cell-div:last-child {
  border-right: 1px solid #404242;
}

.mine {
  color: #b43527;
}